<h3>Sample User Analytics</h3>
<table>
	<thead>
	<th>ID</th>
	<th>Name</th>
	<th>Status</th>
	</thead>
	<tbody>
		{{#each list}}
			<tr>
				<td>{{username}}</td>
				<td>{{email}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>

